# Seth Elias
## Week 8 - 10/10/24
### Python - lambda function, higher order functions: map(), filter(), and reduce()

In [1]:
**A lambda function is a small anonymous function**

<code> LAMBDA ARGUMENTS: expression <code/>

SyntaxError: invalid syntax (<ipython-input-1-9cad0c2bf4f2>, line 1)

In [2]:
def square(x):
    return x**2

In [3]:
square(2)

4

In [4]:
square = lambda x : x**2

In [5]:
square(2)

4

In [6]:
larger = lambda x,y : x if x > y else y

In [7]:
larger(8,15)

15

In [8]:
# higer order function such as map()
'''
it ontains another function as a paramter
map() - transform all items in an iterable without using for loop
map() function format : map(function, iterable)
it returns map() object
'''
def square(x):
    return x**2
lst = [1,2,4,7,5,4,3]
#lst_squares = [x**2 for x in lst] list comprehension
lst_squares= map(square, lst)

In [9]:
lst_squares

In [12]:
lst_squares = list (map(square, lst)) #must be cast as list

In [13]:
lst_squares

[1, 4, 16, 49, 25, 16, 9]

In [14]:
lst_squares = list (map(lambda x : x**2,lst))

In [15]:
lst_squares

[1, 4, 16, 49, 25, 16, 9]

In [17]:
txns = [1.09, 23.56,57.84, 4.56,6.78]
TAX_RATE = .08
def get_price_after_tax(txn):
        return txn * (1 + TAX_RATE)
final_price = list (map(get_price_after_tax,txns))

In [18]:
final_price

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [19]:
final_prices = [get_price_after_tax(p) for p in txns]

In [20]:
final_prices

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [22]:
fahrenheit = [0,10,20,30]
def to_celsius(fahrenheit):
    return round((5/9)*(fahrenheit-32), 2)
celsius = list (map(to_celsius,fahrenheit))

In [23]:
celsius

[-17.78, -12.22, -6.67, -1.11]

In [24]:
celsius = [to_celsius(f) for f in fahrenheit]

In [25]:
celsius

[-17.78, -12.22, -6.67, -1.11]

In [35]:
fahrenheit = {'t1':0, 't2':10, 't3':20, 't4':30}

celsius_dict = {k: to_celsius(f) for k,f in fahrenheit.items()}

In [36]:
celsius_dict

{'t1': -17.78, 't2': -12.22, 't3': -6.67, 't4': -1.11}

In [39]:
#map() 
celsius = list(map(to_celsius, fahrenheit.values()))

In [40]:
celsius

[-17.78, -12.22, -6.67, -1.11]

In [41]:
dict(zip(fahrenheit.keys(), celsius))

{'t1': -17.78, 't2': -12.22, 't3': -6.67, 't4': -1.11}

In [42]:
#filter() function extracts elements from an iterable
# for which a fucntionr eturns True

def even(num):
    return num % 2 == 0
lst = list(range(1,16))

In [43]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [44]:
filter(even, lst)

In [45]:
even_lst = list(filter(even,lst))

In [46]:
even_lst

[2, 4, 6, 8, 10, 12, 14]

In [48]:
even_lst = [x for x in lst if even(x)]

In [49]:
even_lst

[2, 4, 6, 8, 10, 12, 14]

In [50]:
# reduce() function 
import functools
from functools import reduce

In [51]:
lst = range(5,16)

In [52]:
lst

range(5, 16)

In [53]:
lst = list(range(5,16))

In [54]:
lst

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [55]:
def prod(x,y):
    return x * y
product = reduce(prod, lst)

In [56]:
product

54486432000