# Seth Elias
## Week 7 - 10/1/2024
### Python list comprehension

In [2]:
'''
# Python list comprehension makes it easy to reate lists while performing complex tasks.
new_list = [expression for member in iterable]
'''
lst = []

for letter in 'I am a student in CIS310':
    if not letter.isspace():
        lst.append(letter)
lst

['I',
 'a',
 'm',
 'a',
 's',
 't',
 'u',
 'd',
 'e',
 'n',
 't',
 'i',
 'n',
 'C',
 'I',
 'S',
 '3',
 '1',
 '0']

In [3]:
lst = [letter for letter in 'I am a student in CIS310']
lst

['I',
 ' ',
 'a',
 'm',
 ' ',
 'a',
 ' ',
 's',
 't',
 'u',
 'd',
 'e',
 'n',
 't',
 ' ',
 'i',
 'n',
 ' ',
 'C',
 'I',
 'S',
 '3',
 '1',
 '0']

In [4]:
squares = []
for i in range(1,11):
    squares.append(i * i)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
squares = [n**2 for n in range(1,11)]

In [6]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
c_lst = [4,10,20,25.5,15.8,0,14.9]
f_lst = [((9/5)*t + 32) for t in c_lst]
f_lst

[39.2, 50.0, 68.0, 77.9, 60.44, 32.0, 58.82]

In [8]:
txns = [1.09, 23.56, 57.84, 4.56, 6,78]
TAX_RATE = 0.08
final_prices = [n * 1.08 for n in txns]

In [9]:
final_prices

[1.1772000000000002,
 25.4448,
 62.467200000000005,
 4.9248,
 6.48,
 84.24000000000001]

In [10]:
print(final_prices:.2f)

SyntaxError: invalid syntax (<ipython-input-10-97a8ce64a4e4>, line 1)

In [11]:
# filter the data using logical conditions
# new_list = [expression for member in iterable (if conditional)]
squares = [n**2 for n in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
squares = [n**2 for n in range(1,11) if (n % 2 ==0)]

In [14]:
squares

[4, 16, 36, 64, 100]

In [15]:
squares = [n**2 for n in range(1,11) if (n % 2 !=0)]

In [16]:
squares

[1, 9, 25, 49, 81]

In [18]:
s = 'CIS310 communiates students with analytical thinking and practical technical skills'
lst = [letter for letter in s if not letter.isspace()]
lst

['C',
 'I',
 'S',
 '3',
 '1',
 '0',
 'c',
 'o',
 'm',
 'm',
 'u',
 'n',
 'i',
 'a',
 't',
 'e',
 's',
 's',
 't',
 'u',
 'd',
 'e',
 'n',
 't',
 's',
 'w',
 'i',
 't',
 'h',
 'a',
 'n',
 'a',
 'l',
 'y',
 't',
 'i',
 'c',
 'a',
 'l',
 't',
 'h',
 'i',
 'n',
 'k',
 'i',
 'n',
 'g',
 'a',
 'n',
 'd',
 'p',
 'r',
 'a',
 'c',
 't',
 'i',
 'c',
 'a',
 'l',
 't',
 'e',
 'c',
 'h',
 'n',
 'i',
 'c',
 'a',
 'l',
 's',
 'k',
 'i',
 'l',
 'l',
 's']

In [19]:
lst = [letter for letter in s if letter in 'aeiou']

In [20]:
lst

['o',
 'u',
 'i',
 'a',
 'e',
 'u',
 'e',
 'i',
 'a',
 'a',
 'i',
 'a',
 'i',
 'i',
 'a',
 'a',
 'i',
 'a',
 'e',
 'i',
 'a',
 'i']

In [21]:
lst = [letter for letter in s if letter not in 'aeiou']

In [22]:
lst

['C',
 'I',
 'S',
 '3',
 '1',
 '0',
 ' ',
 'c',
 'm',
 'm',
 'n',
 't',
 's',
 ' ',
 's',
 't',
 'd',
 'n',
 't',
 's',
 ' ',
 'w',
 't',
 'h',
 ' ',
 'n',
 'l',
 'y',
 't',
 'c',
 'l',
 ' ',
 't',
 'h',
 'n',
 'k',
 'n',
 'g',
 ' ',
 'n',
 'd',
 ' ',
 'p',
 'r',
 'c',
 't',
 'c',
 'l',
 ' ',
 't',
 'c',
 'h',
 'n',
 'c',
 'l',
 ' ',
 's',
 'k',
 'l',
 'l',
 's']

In [23]:
lst = [letter for letter in s if letter.lower()]

In [24]:
lst

['C',
 'I',
 'S',
 '3',
 '1',
 '0',
 ' ',
 'c',
 'o',
 'm',
 'm',
 'u',
 'n',
 'i',
 'a',
 't',
 'e',
 's',
 ' ',
 's',
 't',
 'u',
 'd',
 'e',
 'n',
 't',
 's',
 ' ',
 'w',
 'i',
 't',
 'h',
 ' ',
 'a',
 'n',
 'a',
 'l',
 'y',
 't',
 'i',
 'c',
 'a',
 'l',
 ' ',
 't',
 'h',
 'i',
 'n',
 'k',
 'i',
 'n',
 'g',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'p',
 'r',
 'a',
 'c',
 't',
 'i',
 'c',
 'a',
 'l',
 ' ',
 't',
 'e',
 'c',
 'h',
 'n',
 'i',
 'c',
 'a',
 'l',
 ' ',
 's',
 'k',
 'i',
 'l',
 'l',
 's']

In [25]:
# new list = [expression (if conditional) for member in iterable]
prices = [1.25, 9.45, 10.22, 3.78, -5.92, 1.16]
new_prices = [n if n > 0 else 0 for n in prices]

new_prices

[1.25, 9.45, 10.22, 3.78, 0, 1.16]

In [26]:
lst = ['Even' if n % 2 == 0 else 'Odd' for n in range(1,11)]

In [27]:
lst

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [28]:
# nested list comprehensions
lst = [num**2 for num in range(1,11)]
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
lst2 = [num**2 for num in lst]

In [30]:
lst2

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [31]:
lst = [n**2 for n in [n**2 for n in range(1,11)]]
lst

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [32]:
# set
s = 'data preparation consumes an amount of tie (up to 80%)'
new_set = {letter for letter in s if letter in 'aeiou'}
new_set

{'a', 'e', 'i', 'o', 'u'}

In [33]:
t = (n**2 for n in range(1,11))
t

In [34]:
#dictionary
d = {n:n**2 for n in range(1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [35]:
d[6]

36

In [36]:
cities = ['Austin', 'Tacoma', 'Topeka', 'Sacremento', 'Charlotte']
temps = {city:list(range(40,50)) for city in cities}
temps

{'Austin': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Tacoma': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Topeka': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Sacremento': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Charlotte': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]}

In [37]:
from random import randint
temps = {city:randint(40,100) for city in cities}
temps

{'Austin': 100, 'Tacoma': 62, 'Topeka': 89, 'Sacremento': 56, 'Charlotte': 40}

In [38]:
# using a dictionary and list to generate a new list
l = [1,2,1,2,3,4,5,6,2]
results = {1:'yes', 2:'no'}
lst = [d.get(n) for n in l]
lst

[1, 4, 1, 4, 9, 16, 25, 36, 4]

In [39]:
lst = ['Yes' if n == 1 else 'NO' if n ==2 else 'Idle' for n in l]

In [40]:
lst

['Yes', 'NO', 'Yes', 'NO', 'Idle', 'Idle', 'Idle', 'Idle', 'NO']

In [41]:
#multiple else statement, does not take elif

In [42]:
x = [5,2,1,4,5,2,1,3]
status = ['Accept' if n > 4 else 'Reject' if n < 2 else 'Pending ' for n in x]
status

['Accept',
 'Pending ',
 'Reject',
 'Pending ',
 'Accept',
 'Pending ',
 'Reject',
 'Pending ']