# Seth Elias
## Week 6 - 09/24/24
### Python for loops

**Genera; for loop format**
<code>
    for item in object:
       statements to execute
</code>

In [1]:
scores = [90,81,88,89,94,92,79,98]
for score in scores:
    print(f'Score = {score}')

Score = 90
Score = 81
Score = 88
Score = 89
Score = 94
Score = 92
Score = 79
Score = 98

In [2]:
for score in scores[::-1]:
    print(f'Score = {score}')

Score = 98
Score = 79
Score = 92
Score = 94
Score = 89
Score = 88
Score = 81
Score = 90

In [5]:
scores.reverse()
for score in scores:
    print(f'Score = {score}')

Score = 90
Score = 81
Score = 88
Score = 89
Score = 94
Score = 92
Score = 79
Score = 98

In [6]:
for score in scores:
    if score % 2 == 0:
        print(f'Score = {score}')

Score = 90
Score = 88
Score = 94
Score = 92
Score = 98

In [7]:
for score in scores:
    if score % 2 == 0:
        print(f' EvenScore = {score}')
    else:
        print(f'Odd score = {score}')

 EvenScore = 90
Odd score = 81
 EvenScore = 88
Odd score = 89
 EvenScore = 94
 EvenScore = 92
Odd score = 79
 EvenScore = 98

In [8]:
even  = []
odd = []
for score in scores:
    if score % 2 == 0:
        even.append(score)
    else:
        odd.append(score)

In [9]:
even

[90, 88, 94, 92, 98]

In [10]:
odd

[81, 89, 79]

In [11]:
len(scores) == len(odd) + len(even)

True

In [12]:
sum = 0
for score in scores:
    sum = sum + score

print(f'The average = {sum/len(scores)}')

The average = 88.875

In [13]:
# else
sum = 0
for score in scores:
    sum = sum + score
else:
    print(f'The average = {sum/len(scores)}')

The average = 88.875

In [15]:
for letters in 'I am a student in CIS310':
    print(letters, end='')

I am a student in CIS310

In [16]:
for letters in 'I am a student in CIS310':
    print(letters, end=',')

I, ,a,m, ,a, ,s,t,u,d,e,n,t, ,i,n, ,C,I,S,3,1,0,

In [17]:
for letters in 'I am a student in CIS310':
    print(letters, end='         ')

I                   a         m                   a                   s         t         u         d         e         n         t                   i         n                   C         I         S         3         1         0

In [19]:
for letters in 'I am a student in CIS310':
    if letters.isspace():
        print(letters, end=',')

 , , , , ,

In [20]:
for letters in 'I am a student in CIS310':
    if not letters.isspace():
        print(letters, end='')

IamastudentinCIS310

In [21]:
for letters in 'I am a student in CIS310':
    if letters.isspace():
        pass
    else:
        print(letters, end='')

IamastudentinCIS310

In [22]:
#tuple
t = (5,6,8,10,5,6)
for n in t:
    print(f'n = {n}')

n = 5
n = 6
n = 8
n = 10
n = 5
n = 6

In [23]:
#set
s = {5,6,8,10,5,6}
for n in s:
    print(f'n = {n}')

n = 8
n = 10
n = 5
n = 6

In [24]:
lst = ['red','blue','green']
lst2 = [10,8,6]
lst = list(zip(lst,lst2))

In [25]:
lst

[('red', 10), ('blue', 8), ('green', 6)]

In [26]:
for item in zip(lst,lst2):
    print(item)

(('red', 10), 10)
(('blue', 8), 8)
(('green', 6), 6)

In [27]:
for item in zip(lst,lst2):
    print(item[0])

('red', 10)
('blue', 8)
('green', 6)

In [28]:
for (t1,t2) in zip(lst,lst2):
    print(t1)

('red', 10)
('blue', 8)
('green', 6)

In [29]:
for (t1,t2) in zip(lst,lst2):
    print(t2)

10
8
6

In [30]:
lst

[('red', 10), ('blue', 8), ('green', 6)]

In [31]:
for (t1,t2) in lst:
    print(t1)

red
blue
green

In [32]:
for (t1,t2) in lst:
    print(t2)

10
8
6

In [33]:
for item in lst:
    print(item)

('red', 10)
('blue', 8)
('green', 6)

In [34]:
#dictionary
d = {'brand': 'ford','model': 'mustang','year':1964}

In [35]:
d

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [36]:
for key in d.keys():
    print(key)

brand
model
year

In [37]:
for value in d.values():
    print(value)

ford
mustang
1964

In [39]:
for item in d:
    print(item)

brand
model
year

In [40]:
for items in d.items():
    print(items)

('brand', 'ford')
('model', 'mustang')
('year', 1964)

In [41]:
for d in d.items():
    print(d[0])

brand
model
year

In [42]:
for d in d.items():
    print(d[1])

AttributeError: 'tuple' object has no attribute 'items'

In [43]:
for k,v in d.items():
    print(k, ' ', v)

AttributeError: 'tuple' object has no attribute 'items'

In [44]:
# break and continue
fruits = ['apple', 'banana', 'cherry', 'orange']
for fruit in fruits:
    print(fruit)

apple
banana
cherry
orange

In [45]:
for fruit in fruits:
    print(fruit)
    if fruit == 'banana':
        break

apple
banana

In [46]:
# continue
for fruit in fruits:
    print(fruit)
    if fruit == 'banana':
        continue

apple
banana
cherry
orange

In [47]:
# continue
for fruit in fruits:
    if fruit == 'banana':
        continue
    print(fruit)

apple
cherry
orange

In [49]:
for fruit in fruits:
    if fruit == 'banana':
        pass
    else:
        print(fruit)

apple
cherry
orange

In [50]:
#range()
for num in range(6):
    print(num)

0
1
2
3
4
5

In [51]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [52]:
for num in range(5,55,5):
    print(num)

5
10
15
20
25
30
35
40
45
50

In [53]:
for fruit in fruits:
    print(fruit)

apple
banana
cherry
orange

In [54]:
len(fruits)

4

In [55]:
range(4)

range(0, 4)

In [56]:
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry
orange

In [58]:
for i in range(len(fruits)):
    print(i, ' ' ,fruits[i])

0   apple
1   banana
2   cherry
3   orange

In [59]:
for ids, n in enumerate(fruits):
    print(ids,n)

0 apple
1 banana
2 cherry
3 orange

In [4]:
# looping through multiple collections
# without nested loops
color = ['red','green','blue','purple']
ratios = [0.2,0.3,0.4,0.1]
for index, value in enumerate(color):
    print(f'Ratio {ratios[index]*100}% {value}')

Ratio 20.0% red
Ratio 30.0% green
Ratio 40.0% blue
Ratio 10.0% purple

In [6]:
#using range()
range(len(color))

range(0, 4)

In [9]:
for index in range(len(color)):
    print(f'Ratio {ratios[index]*100}% color: {color[index]}')

Ratio 20.0% color: red
Ratio 30.0% color: green
Ratio 40.0% color: blue
Ratio 10.0% color: purple

In [11]:
for v in enumerate(color):
    print(v)

(0, 'red')
(1, 'green')
(2, 'blue')
(3, 'purple')

In [12]:
#using zip()
list(zip(ratios,color))

[(0.2, 'red'), (0.3, 'green'), (0.4, 'blue'), (0.1, 'purple')]

In [13]:
for color,ratio in zip(ratios,color):
    print(color, ratio)

0.2 red
0.3 green
0.4 blue
0.1 purple