# Seth Elias
## Week 5 - 09/19/2024
### Python statements, if, else, elif

the format of the if statement
if condition1:
 perform action1
 
if condition:
 perform action
else:
 perform actions
 
if condition:
 perform action
elif condition:
 perform action
else:
 perform action

In [1]:
# if statement
if 5 > 4:
    print('Yes 5 is greater than 4')

Yes 5 is greater than 4

In [3]:
# using else
if 5 < 4:
    print('Yes 5 is greater than 4')
else:
    print('No 4 is not greater than 5')

No 4 is not greater than 5

In [5]:
value = 5

if value == 5:
    print('high five')
else:
    print('try again')

high five

In [6]:
test1 = 98
test2 = 87
if test1 < test2:
    print('you may redo test1')
else:
    print('you may redo test2')

you may redo test2

In [7]:
# if elif statement

test1, test2 = 81, 79
if test1 > test2:
    print('test1 is greater than test2')
    print('you may redo test2')
elif test2 > test1:
    print('test2 is greater than test 1')
    print('you may redo test1')
else:
    print('test1 and test2 scores are equal')

test1 is greater than test2
you may redo test2

In [8]:
test1 = int(input('Test1 score'))
test2 = int(input('Test2 score'))
if test1 > test2:
    print('test1 is greater than test2')
    print('you may redo test2')
elif test2 > test1:
    print('test2 is greater than test 1')
    print('you may redo test1')
else:
    print('test1 and test2 scores are equal')

Test1 score87
Test2 score81
test1 is greater than test2
you may redo test2

In [9]:
# one line if statements
if test2 > test1: print(f'test2 {test2} is greater than test1 {test1}')

In [10]:
if 'c' in 'cis': print('3'); print('1'); print('0')

3
1
0

In [19]:
raining = True
print('Lets head out', 'for a run' if not raining else 'to the rec center')

Lets head out to the rec center

In [21]:
age = 24
print('minor' if age < 21 else 'adult')

adult

In [22]:
# and or logical operators
s1,s2,s3 = 89, 75, 92
if (s1 > s2) and (s3 > s2):
    print('Both conditions are true')

Both conditions are true

In [23]:
s1,s2,s3 = 89, 75, 92
if (s1 < s2) or (s3 > s2):
    print('One of the statement is true')

One of the statement is true

In [24]:
s1,s2,s3 = 89, 75, 92
if (s1 < s2) or (s3 < s2):
    print('One of the statement is true')
else:
    print('none are true')

none are true

In [27]:
# nested if statement
if s1 > 40:
    print('s1 is above 40')
    if s1 > 60:
        print('s1 is above 60')
        if s1 > 80:
            print('s1 is above 80')
            if s1 > 90:
                print('s1 is above 90')
            else:
                pass

s1 is above 40
s1 is above 60
s1 is above 80

In [28]:
# built in if statements
names = {'Fred': 'Hello fred','Rama': 'Hell rama','Joe':'Hello Joe','Alice':'Hello Alice'}

In [29]:
names

{'Fred': 'Hello fred',
 'Rama': 'Hell rama',
 'Joe': 'Hello Joe',
 'Alice': 'Hello Alice'}

In [30]:
type(names)

dict

In [31]:
print(names["Fred"])

Hello fred

In [32]:
print(names['Rama'])

Hell rama

In [33]:
'Joe' in names

True

In [34]:
print(names['Joe'] if 'Joe' in names else 'I dont know who you are')

Hello Joe

In [35]:
print(names['Jen'] if 'Jen' in names else 'I dont know who you are')

I dont know who you are

In [36]:
print(names.get('Joe'))

Hello Joe

In [37]:
print(names.get('Jen'))

None

In [38]:
print(names.get('Jen', 'I dont know who you are'))

I dont know who you are

In [39]:
names.keys()

dict_keys(['Fred', 'Rama', 'Joe', 'Alice'])

In [40]:
names.values()

dict_values(['Hello fred', 'Hell rama', 'Hello Joe', 'Hello Alice'])

In [41]:
names.items()

dict_items([('Fred', 'Hello fred'), ('Rama', 'Hell rama'), ('Joe', 'Hello Joe'), ('Alice', 'Hello Alice')])

In [42]:
tuple(names.items())

(('Fred', 'Hello fred'),
 ('Rama', 'Hell rama'),
 ('Joe', 'Hello Joe'),
 ('Alice', 'Hello Alice'))

In [43]:
tuple(0)

TypeError: 'int' object is not iterable

In [44]:
t = tuple(names.items())

In [45]:
t

(('Fred', 'Hello fred'),
 ('Rama', 'Hell rama'),
 ('Joe', 'Hello Joe'),
 ('Alice', 'Hello Alice'))

In [46]:
t[0]

('Fred', 'Hello fred')

In [47]:
('Fred', 'Hello fred') in t

True

In [48]:
lst = list(range(21))

In [49]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [50]:
lst2 = list(range(20,41))

In [51]:
lst2

[20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40]

In [52]:
lst3 = list(zip(lst,lst2))

In [53]:
lst3

[(0, 20),
 (1, 21),
 (2, 22),
 (3, 23),
 (4, 24),
 (5, 25),
 (6, 26),
 (7, 27),
 (8, 28),
 (9, 29),
 (10, 30),
 (11, 31),
 (12, 32),
 (13, 33),
 (14, 34),
 (15, 35),
 (16, 36),
 (17, 37),
 (18, 38),
 (19, 39),
 (20, 40)]

In [54]:
(20,22) in lst3

False

In [55]:
(2,22) in lst3

True